version: "3.9"

services:
  db:
    image: postgres:15
    container_name: blog-api-db
    restart: always
    environment:
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
      POSTGRES_DB: blogdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: blog-api
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - .:/app
      - ../blog-frontend/build:/app/../blog-frontend/build

volumes:
  pgdata:
